<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="Ejemplo de vue js y django"/>
    <meta name="keywords" content="vuejs, django, crudapp, restapi"/>

    <title>Vue-js | Django</title>

    <!-- Required Stylesheets -->
    <link
      type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"
    />

    <link
      type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"
    />

    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"></script>

    <!-- Required scripts -->
    <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
</head>
  <body>
    <!-- Our application root element -->
    <div id="app">
      <b-navbar toggleable="lg" type="dark" variant="primary" sticky>
        <b-navbar-brand href="#">
          <img height="30px" src="https://icon-icons.com/descargaimagen.php?id=83941&root=1239/ICO/512/&file=guitar_83941.ico" class="d-inline-block align-top" alt="Kitten"/>
          Conciertos en Madrid
        </b-navbar-brand>
      </b-navbar>

      <b-container>
        <b-row>
            <card-component v-for="concert in concerts" :concert="concert"></card-component>
        </b-row>
      </b-container>

    </div>

    <!-- Start running your app  .v-bind:title="concert.title",.-->
    <script>
    Vue.component('card-component',{
      props: ['concert'],
      delimiters: ['${', '}'],
      template:`
      <b-col>
        <b-card
          v-bind:title="concert.title"
          img-src="https://e00-marca.uecdn.es/assets/multimedia/imagenes/2019/06/30/15619149195288.jpg"
          img-alt="Image"
          img-top
          tag="article"
          style="max-width: 20rem;"
          class="mb-2"
        >
          <b-card-text>
            \${ concert.text }
          </b-card-text>
          <b-button href="#" variant="primary">Go somewhere</b-button>
        </b-card>
      </b-col>

      `
    })

      window.app = new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: {
          nome: '',
          concerts: [
            {
              title: 'Concierto 1',
              text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostr.'
            },
            {
              title: 'Concierto 2',
              text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostr.'
            },
            {
              title: 'Concierto 2',
              text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostr.'
            },
            {
              title: 'Concierto 2',
              text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostr.'
            }
          ]
        },
      })

    </script>
  </body>

</html>
